.imgEmpresa{
    width: 100%;
    height: auto;
}

@media screen and (min-device-width:1300px){
    .containerConteudoEmpresa{
        width: 1000px;
        min-height: 400px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        /* background-color: aqua; */
        margin-bottom: 50px;
    }
    
    #quemSomos{
        width: 700px;
        height: 80px;
        background-color: #2e1408;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 2.5em;
        text-align: center;
        line-height: 80px;
        color: #ffffff;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #000000;
    }
    
    .conteudoEmpresa{
        width: 100%;
        min-height: 10px;
        height: auto;
        font-size: 1.5em;
        /* background-color: #2e1408; */
        margin-right: 30px;
        /* color: white; */
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    
    .imagemEmpresa{
        width: 500px;
        min-height: 100px;
        height: auto;
        /* background-color: bisque; */
    }

    
}

@media screen and (max-device-width:780px){
    .containerConteudoEmpresa{
        width: 100%;
        min-height: 456px;
        height: auto;
        /* margin: auto; */
        margin-left: auto;
        margin-right: auto;
    }
    
    #quemSomos{
        width: 90%;
        height: 80px;
        background-color: #2e1408;
        /* background-color: #911941; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 2.5em;
        text-align: center;
        line-height: 80px;
        color: #ffffff;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #000000;
    }
    
    .conteudoEmpresa{
        width: 90%;
        min-height: 300px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        font-size: 1.5em;
        color: white;
        background-color: #2e1408;
        padding: 10px;
        box-sizing: border-box;
        /* padding-bottom: 20px; */
        /* background-color: #911941; */
        /* font-size: 1.2em;
        padding-left: 5px;
        box-sizing: border-box;
        /* color: #ffffff;  */
    }
    
    .imagemEmpresa{
        width: 94%;
        min-height: 20px;
        height: auto;
        margin: auto;
        /* background-color: plum; */
        margin-bottom: 20px;
    }

    #imgEmpresa{
        width: 100%;
        height: 320px;
    }
}