@media screen and (min-device-width:1300px){
    #entreContato{
        width: 340px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        background-color: #2e1408;
        /* background-color: #911941; */
        font-size: 30px;
        color: white;
        line-height: 80px;
        text-align: center;
        margin-bottom: 50px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px black; 
    }
    
    #containerFormularioContato{
        width: 400px;
        min-height: 600px;
        height: auto;
        /* margin-left: auto;
        margin-right: auto; */
        padding-left: 10px;
        padding-top: 8px;
        background-color: #2e1408;
        /* background-color: #911941; */
        box-sizing: border-box;
        font-size: 1.2em;
        color: white;
        border-radius: 18px;
        margin-left: 200px;
        float: left;
        margin-right: 30px;
        
    }
    
    #containerFormularioContato p{
        margin: 0px;
     
        box-sizing: border-box;
    }
    
    .formItens{
        width: 190px;
        height: 80px;
        /* background-color:steelblue; */
        /* padding-left: 5px; */
        box-sizing: border-box;
        float: left;
    }
    
    .formItemSexo{
        width: 380px;
        height: 80px;
        float: left;
        /* padding-left: 5px; */
        box-sizing: border-box;
        /* background-color:steelblue; */
    }
    
    .formItemSugestao{
        width: 100%;
        height: 120px;
        /* float: left; */
        /* padding-left: 5px; */
        box-sizing: border-box;
        /* background-color: tan; */
        float: left;
    }
    
    .caixaInput{
        width: 94%;
        height: 20px;
        /* background-color: plum; */
    }
    
    .areaTexto{
        width: 90%;
        height: 90px;
        resize: none;
        margin-bottom: 20px;
    }
    
    #containerBotao{
        width: 370px;
        height: 55px;
        /* background-color: lightcoral; */
        float: left;
        margin-top: 25px;
        line-height: 55px;
        text-align: center;
    }
    
    #botaoEnviar{
        width: 170px;
        height: 34px;
        font-size: 1.1em;
    }
    
    #containerImagemContato{
        width: 500px;
        height: 370px;
        float: left;
    }
}

@media screen and (max-device-width:780px){
    #entreContato{
        width: 90%;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        background-color: #2e1408;
        /* background-color: #911941; */
        font-size: 30px;
        color: white;
        line-height: 80px;
        text-align: center;
        margin-bottom: 50px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px black; 
    }
    
    #containerFormularioContato{
        width: 90%;
        min-height: 90px;
        height: auto;
        /* margin-left: auto;
        margin-right: auto; */
        padding-left: 10px;
        /* padding-top: 8px; */
        background-color: #2e1408;
        /* background-color: #911941; */
        box-sizing: border-box;
        font-size: 1.2em;
        color: white;
        border-radius: 18px;
        /* margin-left: 200px; */
        /* float: left; */
        /* margin-right: 30px; */
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-bottom: 50px;
    }
    
    #containerFormularioContato p{
        width: 80%;
        min-height: 10px;
        height: auto;
        margin: 0px;
        color: #fff;
        box-sizing: border-box;
    }
    
    .formItens{
        width: 100%;
        height: 80px;
        /* background-color:steelblue; */
        /* padding-left: 5px; */
        box-sizing: border-box;
        /* float: left; */
    }
    
    .formItemSexo{
        width: 380px;
        height: 80px;
        /* float: left; */
        /* padding-left: 5px; */
        box-sizing: border-box;
        /* background-color:steelblue; */
    }
    
    .formItemSugestao{
        width: 100%;
        height: 120px;
        /* float: left; */
        /* padding-left: 5px; */
        box-sizing: border-box;
        /* background-color: tan; */
        /* float: left; */
    }
    
    .caixaInput{
        width: 80%;
        height: 20px
    }
    
    .areaTexto{
        width: 86%;
        height: 90px;
        resize: none;
    }
    
    #containerBotao{
        width: 100%;
        height: 55px;
        /* background-color: lightcoral; */
        /* float: left; */
        line-height: 55px;
        text-align: center;
    }
    
    #botaoEnviar{
        width: 170px;
        height: 34px;
        font-size: 1.1em;
    }
    
    #containerImagemContato{
        width: 500px;
        height: 370px;
        float: left;
        display: none;
    }
}