@media screen and (min-device-width:1300px){
    #produtoDoMes{
        width: 500px;
        height: 80px;
        background-color: #2e1408;
        /* background-color: #911941; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 2.5em;
        text-align: center;
        line-height: 80px;
        color: #ffffff;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #000000;
    }
    
    #containerProdutoDoMes{
        width: 1160px;
        min-height: 400px;
        height: auto;
        /* background-color: tomato; */
        margin-left: 20px;
    }
    
    #containerProdutoDoMes h1{
        width: 500px;
        border-bottom: 2px solid black;
        font-size: 1.7em;
        color: black;
    }
    
    #imagemProdutoDoMes{
        width: 500px;
        min-height: 100px;
        height: auto;
        /* background-color: teal; */
        float: left;
        margin-right: 30px;
    }
    
    .responsive{
        width: 100%;
        height: auto;
    }
    
    #containerProdutoTexto{
        width: 600px;
        height: 300px;
        /* background-color: yellow; */
        float: left;
        font-size: 1.5em;
    }
}

@media screen and (max-device-width:780px){
    #produtoDoMes{
        width: 90%;
        height: 80px;
        background-color: #2e1408;
        /* background-color: #911941; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 2.5em;
        text-align: center;
        line-height: 80px;
        color: #ffffff;
        border-radius: 20px;
         box-shadow: 5px 5px 5px #000000;
    }
    
    #containerProdutoDoMes{
        width: 90%;
        min-height: 200px;
        height: auto;
        /* background-color: tomato; */
        margin-left: 20px;
    }
    
    #containerProdutoDoMes h1{
        min-width: 100px;
        width: auto;
        border-bottom: 2px solid black;
        font-size: 1.7em;
        color: black;
    }
    
    #imagemProdutoDoMes{
        width: 100%;
        min-height: 100px;
        height: auto;
        /* background-color: teal; */
        float: left;
        margin-right: 30px;
    }
    
    .responsive{
        width: 100%;
        height: auto;
    }
    
    #containerProdutoTexto{
        width: 100%;
        min-height: 100px;
        height: auto;
        /* background-color: yellow; */
        float: left;
        margin-bottom: 20px;
        font-size: 1.2em;
    }
}
