@media screen and (min-device-width:1300px){
    /* Slide */
.slide{
    width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: yellowgreen;
    padding-top: 100px;
    
}

/* CONTAINER PRODUTOS */
#container{
    width: 1400px;
    min-height: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* background-color:#000; */
    /* box-sizing: border-box; */
}

#containerProdutos{
    width: 1200px;
    min-height: 1000px;
    height: auto;
    background: rgb(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#menuProdutos{
    width: 170px;
    min-height: 1000px;
    height: auto;
    /* background-color: lawngreen; */
    float: left;
}

.menuProdutosItem{
    width: inherit;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 5px;
    /* background-color: #911941; */
    background-color: #2e1408;
    border: 2px solid white;
    box-sizing: border-box;
    color: white;
}

#conatinerItens{
    width: 1030px;
    min-height: 1000px;
    height: auto;
    float: left;
    padding-top: 100px;
    /* background-color: goldenrod; */
    /* margin: auto; */
    /* display: flexbox; */
    /* margin-right: 0; */
}

/* CARDS */
.cardProdutos{
    width: 300px;
    height: 440px;
    background-color: #2e1408;
    /* background-color: #911941; */
    /* background-color: rgb(145, 25, 65, 0.95); */
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;
    border-radius: 10px;
    /* float: right; */
}

.produtoImagem{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #ffffff;
}

.responsivo{
    width: 200px;
    height: 200px;
}

.cardProdutos p{
    padding-left: 20px;
}

.detalhe{
    float: right;
    padding-right: 20px;
}

/* REDES SOCIAIS */
#redesSociais{
    width: 100px;
    height: 300px;
    margin-left: 1300px;
    position: fixed;
}

.redesSociais{
    width: inherit;
    height: 100px;
    text-align: center;
    float: left;
}

.redesSociais img{
    width: 90px;
    height: 90px;
}
}

@media screen and (max-device-width:780px){
    /* Slide */
.slide{
    width: 90%;
    height: 200px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    background-color: yellowgreen;
    padding-top: 100px;
    
    
}

/* CONTAINER PRODUTOS */
#container{
    width: 90%;
    min-height: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* background-color:#000; */
    /* box-sizing: border-box; */
    
}

#containerProdutos{
    width: 100%;
    min-height: 1000px;
    height: auto;
    background: rgb(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#menuProdutos{
    width: 170px;
    min-height: 1000px;
    height: auto;
    /* background-color: lawngreen; */
    float: left;
    display: none;
}

.menuProdutosItem{
    width: inherit;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 5px;
    background-color: #911941;
    border: 2px solid white;
    box-sizing: border-box;
    color: white;
    display: none;
}

#conatinerItens{
    width: 100%;
    min-height: 1000px;
    height: auto;
    /* float: left; */
    padding-top: 100px;
    /* background-color: goldenrod; */
    /* margin: auto; */
    /* display: flexbox; */
    /* margin-right: 0; */
}

/* CARDS */
.cardProdutos{
    width: 100px;
    height: 440px;
    background-color: #911941;
    /* background-color: rgb(145, 25, 65, 0.95); */
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;
    border-radius: 10px;
    /* float: right; */
}

.produtoImagem{
    width: 20px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #ffffff;
}



.cardProdutos p{
    padding-left: 20px;
}

.detalhe{
    float: right;
    padding-right: 20px;
}

/* REDES SOCIAIS */
#redesSociais{
    width: 100px;
    height: 300px;
    margin-left: 1300px;
    position: fixed;
    display: none;
}

.redesSociais{
    width: inherit;
    height: 100px;
    text-align: center;
    float: left;
}

.redesSociais img{
    width: 90px;
    height: 90px;
}
}




